<div class="m-4">
    <div class="row pl-5 pr-5">
        <div class="col-md-4" *ngFor="let item of util.list3" >
            <div class="card card-default text-center">
                <img class="card-img-top" src="https://www.topimagens.com.br/img/imagens45/bom-dia-7898fwWZvaynlE.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
