.img-card {
    /* max-width: 415px; */
    width: -webkit-fill-available;
}
.card{
    /* margin-right: 1rem !important; */
    margin-bottom: 15px;
}
.card:hover{
    background-color:rgba(0,0,0,.03);
    border-color: rgba(88, 88, 88, 0.699);
    cursor: pointer;
}