.imgDetail{
    max-width: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
}
.imgBlockDetail{
    max-width: 430px;
    border: 1px solid rgba(0,0,0,.125)
}