<div class="outside">
    <nav id="myNavbar" class="site-header py-1">
        <div class="container d-flex flex-md-row justify-content-between text-center">
            <a routerLink=""><img src="{{laco_transparente_pequeno}}" class="pr-2" alt="Inicio"></a>
            <a class="py-2 d-md-inline-block" routerLink="/album">Fotos</a>
            <a class="py-2 d-md-inline-block" routerLink="/">Faça uma encomenda</a>
            <a class="py-2 d-md-inline-block" routerLink="/login">Login</a>
        </div>
    </nav>
    <section>
        <img class="laco_background_start" src="{{laco_transparente_pequeno}}" *ngIf="bigScreen" >
        <img class="laco_background_end" src="{{laco_transparente_pequeno}}" *ngIf="bigScreen">
    </section>
    <div class="boxed-container">
        <router-outlet></router-outlet>
    </div>
    <footer class="text-muted mt-3 pb-3">
        <div class="container">
          <p class="float-right">
            <a href="#">Voltar ao topo</a>
          </p>
          <p>&copy;Lane Laços, é produção artesanal e feita com carinho!</p>
          <p>Mora na Região Metropolitana do Recife e quer encomendar? <a routerLink="/login">Faça o login</a> e coloque seus laços prefiridos no cesto.</p>
        </div>
    </footer>
</div>