<nav id="myNavbar" class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product" (click)="fixedSideBar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#" >Início</a>
        <a class="py-2 d-none d-md-inline-block" href="/album">Fotos</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Faça uma encomenda</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Sobre</a>
    </div>
</nav>
<div id="mySidebar" class="sidebar" (mouseenter) ="openCloseNav('enter')" (mouseleave) ="openCloseNav('leave')">
    <span class="pull-right p-0 mr-3 text-success" (click)="fixedSideBar()" *ngIf="isOpenCloseNav" >
        <i class="fa fa-check-square-o" data-container="body" *ngIf="isFixedOpenCloseNav"></i>
        <i class="fa fa-square-o" data-container="body" *ngIf="!isFixedOpenCloseNav"></i>
    </span>
    <div class="mt-5">
        <ul class="pl-0">
            <li *ngFor="let item of util.list4">
                <a href="#">
                    <span (click)="fixedSideBar()">About</span>
                    <i class="fa fa-circle pr-2 text-success pull-right" data-container="body"></i>
                </a>
                <hr>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <router-outlet></router-outlet>
</div>