.container {
  max-width: 960px;
}

.row-no-margin{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.site-header {
  max-width: 1440px;
  margin: auto;
}
.site-header a {
  color: black;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.boxed-container {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 16px 48px rgba(255,255,255,0.5);
  overflow: hidden;
  background-color: #f8f9fa;
  padding-bottom: 20px;
  position: relative;
}
.outside{
  background-color: lightskyblue;
  color: black;
  min-height: -webkit-fill-available;
  /* background-image: url('https://github.com/CaioAlbuquerque94/testeLL2/blob/master/_images/laco_transparente_pequeno.png?raw=true'); */
}
.laco_background_start{
  min-width: 500px;
  position: absolute;
  left: 15px;
}
.laco_background_end{
  min-width: 500px;
  position: absolute;
  right: 15px;
}
.text-white{
  color: #fff;
}