<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Lane Laços</h1>
        <p class="lead font-weight-normal">Conheça nossos laços e gravatas para cachorros. Produtos feitos à mão para todas as raças, com cores variadas, temáticas e tamanhos diferentes. Tudo para o seu companheiro animal ficar ainda mais lindo</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
</div>
<app-hot-list></app-hot-list>