<div class="position-relative overflow-hidden text-center bg-light">
    <div class="col-md-6 p-lg-4 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Lane Laços</h1>
        <p class="lead font-weight-normal">Conheça nossos laços e gravatas para cachorros. Produtos feitos à mão para todas as raças, com cores variadas, temáticas e tamanhos diferentes. Tudo para o seu companheiro animal ficar ainda mais lindo</p>
        <a class="btn btn-outline-secondary" (click)="addCard()" >Add Card</a>
    </div>
</div>
<section class="row-no-margin mt-3">
    <div class="{{col_resposive}}" *ngFor="let item of newestList" >
        <app-card-image-text [obj]="item"></app-card-image-text>
    </div>
</section>
<div bsModal #modalAddCard="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade stick-up"
    tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicione uma nova publicação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAddCard.hide()" >
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center m-t-20">
                <form role="form" [formGroup]="cardObjForm" (ngSubmit)="addNewCard()">
                    <div class="form-group">
                      <label class="required">Imagem</label>
                      <input class="form-control required" type="file" class="form-control-file" formControlName="img" placeholder="Insira uma imagem" required>
                    </div>
                    <div class="form-group">
                      <label class="required">Título</label>
                      <input class="form-control required" type="text" formControlName="titulo" placeholder="Insira um título" required>
                      <p *ngIf="!cardObjForm.value['titulo']" class="text-danger">*adicione um titulo</p>
                    </div>
                    <div class="form-group">
                      <label >Descrição</label>
                      <textarea  class="form-control required" rows="3" formControlName="texto" placeholder="Insira uma descrição..." required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
