/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* .modal-md {
  max-width: calc(100% - 200px) !important;
  width: calc(100% - 300px) !important;
}
@media (min-width: 992px) {
  .modal-lg {
      max-width: calc(100% - 100px);
      width: calc(100% - 100px) !important;
  }
} */

.pointer{
  cursor: pointer;
}

.row-no-margin{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.pull-bottom{
  position: absolute;
  bottom: 15px;
}

.pull-bottom-right{
  position: absolute;
  bottom: 15px;
  right: 10px;
}